.Answers {
    h3 {
        color: red; 
    }
    .AnswerCard {
        padding: 10px; 
        margin: 5px; 
        border-bottom: 1px solid #999; 
        border-left: 10px solid white; 
        display: flex;
        flex-flow: wrap; 
        &.accepted {
            background-color: rgb(147,190,103);
        }
    }
}