.Modal {
    .modal-container {
        background-color: rgba(0, 0, 0, 0.90);
        position: fixed;
        height: 100vh; 
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 998;
        .content {
            max-width: 850px; 
            overflow: scroll;
            height: 500px; 
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            h1 {
                color: $white; 
            }
            h3 {
                color: $white; 
            }
            p { 
                color: $white; 
            }
            a {
                color: $grey7;  
            }
            .question {
                border-bottom: 1px solid $white;
                padding-bottom: 50px; 
                h1 {
                    margin-bottom: 10px; 
                }
                p {
                    margin-top: 20px; 
                }
            }
            .Answers {
                h2 {
                    position: relative !important; 
                    margin-bottom: 10px;
                }
                .AnswerCard {
                    padding-bottom: 30px; 
                    padding-top: 30px; 
                    border-bottom: 1px solid $white;
                    .acceptedAnswer {
                        font-size: 12px;  
                        display: inline-block; 
                        padding: 5px; 
                        margin: 4px; 
                        width: 100px;
                        border: 1px solid $black;
                        background: $white;
                        color: $black; 
                        display: none; 
                    }
                    h4 {
                        color: $white; 
                    }
                    p {
                        margin-top: 20px; 
                    }
                    &.accepted {
                        background-color: $white;
                        padding: 30px; 
                        .acceptedAnswer { 
                            display: inline-block; 
                            float: right;
                            margin-top: -25px;
                        }
                        h4 {
                            color: $black; 
                        }
                        h3 {
                            color: $black; 
                        }
                        p {
                            color: $black; 
                        }
                    }
                }
            }
        }
    } 
} 






