.QuestionCard {
    padding: 15px; 
    display: flex; 
    flex-flow: column; 
    background-color: white;
    h2 {
       color: black; 
       cursor: pointer; 
    }
    h3 {
        color: black; 
    }
    ul {
        li {
            font-size: 12px; 
            padding: 5px; 
            margin: 3px; 
            border: 1px solid black;
            background: white;
            color: black; 
        }
    }
}