// COMPONENTS
@import 'styles/components/_QuestionCard.scss';
@import 'styles/components/_Answers.scss'; 
@import 'styles/components/_Modal.scss'; 
@import 'styles/components/_DisplayCardType.scss'; 
@import 'styles/components/_Results.scss'; 
@import 'styles/components/_SearchBox.scss'; 


$grey3: #333; 

.App {
  background-color : $grey3;
}
code {
    background-color : #eee;
    color : #333;
}
pre{
    padding : 10px;
    overflow: scroll;
    width : 600px;
    background-color : #ccc;
    color : #005;
}
pre > code {
    background-color : #ccc;
    color : #005;
}
.card{

}
