* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    outline: none;
    background-color: $black; 
    border: 0;
    // overflow: hidden;
}

/* Should condense above */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

button { 
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.App {
    .left {
        display: inline-block;
        width: 50%;
        background-color: $white; 
        overflow: hidden; 
    }
    .right {
        display: inline-block;
        width: 50%;
        padding: 30px; 
        h2 {
            color: $white; 
            margin-top: 36px; 
            position: absolute;
            top: 0px;
        }
        .dividerLine {
            background-color: $white; 
            height: 1px; 
            width: 100%;
            margin-top: 40px; 
        }
        .scrollDiv {
            overflow: scroll; 
            height: 90vh; 
            bottom: 0px; 
            position: absolute; 
        }
    }
}