.openModalBtn {
    text-align: left; 
    margin-top: 30px;
    .chevron {
        width: 10px;
        height: 10px; 
        display: inline-block;
        position: relative;
        top: -1px;
        margin-left: 5px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); 
        transform: rotate(45deg);
        border-right: 2px solid $white; 
        border-top: 2px solid $white; 
    }
}

.back {
    position: absolute; 
    top: 30px;
    left: 30px;
    margin-top: 0px; 
    color: $white; 
    cursor: pointer; 
    transition: $transition;
    &:hover {
        opacity: .5;
    }
    .chevron {
        width: 10px;
        height: 10px; 
        display: inline-block;
        position: relative;
        top: -1px;
        margin-left: 5px;
        -ms-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg); 
        transform: rotate(-135deg);
        border-right: 2px solid $white; 
        border-top: 2px solid $white; 
    }
}