/*---------------
  FONTS
---------------*/
$ngh-lt: 'NHG Light', sans-serif;
$ngh-lt-it: 'NHG Light Italic', sans-serif;
$ngh-rg: 'NHG Regular', sans-serif;
$ngh-rg-it: 'NHG Regular Italic', sans-serif;
$ngh-md: 'NHG Medium', sans-serif;
$ngh-md-it: 'NHG Medium Italic', sans-serif;
$ngh-bd: 'NHG Bold', sans-serif;
$ngh-bd-it: 'NHG Bold Italic', sans-serif;
$hn-lt: 'HN Light Cond', sans-serif;
 
/*---------------
  COLORS
---------------*/
$black: #000000;
$white: #FFFFFF; 
$greyF: #F6F6F6;
$greyD: #DDDDDD;
$greyC: #CCCCCC;
$grey7: #747676;
$grey8: #888888;
$greyD8: #D8DADA;

/*---------------
  GLOBALS
---------------*/
$spacer: 20px;
$tabletSpacer: 40px;
$transition: all .3s ease-in-out;